Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- python
- R
- SQL

**Objectives:**
- python
- R
- SQL

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languges that Data scientists use are:
    1. python
    2. R 
    3. SQL

Some of the popular languges that Data scientists use are:
    1. python
    2. R 
    3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
    1. padas
    2. numpy
    3. matplotlib
    4. seaborn
    5. pytouch

Some of the commonly used libraries used by Data Scientists include:
    1. padas
    2. numpy
    3. matplotlib
    4. seaborn
    5. pytouch

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
---------------------------
|Jupyther lab     |
|R studio        |
|Apache zeppelin   |

|Data Science Tools|
----------------------------
|Jupyther lab      |
|R studio          |
|Apache zeppelin   |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [19]:
#This will convert 200 minutes to hours by diving by 60
minutes = int(200)
hours = float(minutes / 60)
print(round(hours,2))

3.33

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Zack Chai

## Author
Zack Chai